.container{
max-width:900px;
background-color: white;
}

body{
  background-image: url(img/800px-Galvanized_metal_wall.jpg)
}

img{
padding-top:20px; 
width=300;
}

#fondNoir{
  background-color:black;
  text-align: center;
  height:40px;
  padding=15px; 
  }

  a{
    color:white;
    text-align: center;
    font-size:1.5em;
 }

h1 {
    color:black ;rgb(59, 173, 240);
    text-align: center;
    font-size: 3em; 
    padding-top :40px;
    padding-bottom :40px;
  }

p{
padding-top : 20px;

}  

#descriptif{
  text-align: center;
}