/*Couleur de fond du body (donc de la partie visible de la page) : bleu clair*/
body{
    background-color: lightBlue;
}

div{
    background-color: purple; /*Les div auront un fond violet*/
    color: white; /*Textes des éléments dans les div blancs par héritage*/
}
.conteneur{
  width: 80%; /*La largeur de l'élément sera égale à 80% de son parent*/
  
}
#cp{
  margin: 0 auto; /*Permet de centrer le div dans son élément parent (body ici)*/
}

.gras{
    font-weight: bold; /*Les textes seront en gras*/
}
.fondjaune{
    background-color: yellow; /*Fond des span jaune*/
}
