h1{
    display:block;
    border:solid;
    text-align: center;
    background-color:
}
h2{
    border-bottom: solid;
}

body{
background-color: rgba(248, 248, 248, 0.932);
}
img{
    display:block;
    margin:auto;
}


table{
    margin: auto;
    border-collapse: collapse;
    width:50%;
    
}
td{
   text-align:center;
    border:thin solid;
    b:thin
}


